#about {
    max-width: 100%;
    background-color: black;
	background: linear-gradient(
    to right, 
    #1f1b24 0%, 
    #1f1b24 37%, 
    #292929 37%, 
    #292929 100%
    );
	background-size: 100%;
	min-height: 99vh;
	color: white;
	padding-bottom: 1vh;
}

#about h2 {
    text-align: left;
	max-width: 30%;
	margin-left: 0.2em;
    font-size: 200%;
    color: white;
	margin-top: 0vh;
	font-weight: normal;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#aboutText {

    text-align: left;
	margin-left: 39%;
	width: 60%;
    font-size: 80%;
    color: white;
	margin-top: 0vh;
	font-weight: normal;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
