#contact {
    max-width: 100%;
    background-color: black;
	background: linear-gradient(
    to right, 
    #292929 0%, 
    #292929 50%, 
    #121212 50%, 
    #121212 100%
    );
	background-size: 100%;
	min-height: 99vh;
	color: white;
	padding-bottom: 1vh;
}

#contact h2 {
    text-align: center;
	background-color: #121212;
	background-size: 100%;
	max-width: 100%;
    font-size: 200%;
    color: white;
	margin-top: 0vh;
	font-weight: normal;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#contactText {
    text-align: center;
	margin-left: 15%;
	width: 70%;
    font-size: 15px;
    color: white;
	margin-top: 20vh;
	background-color: darkred;
	border-radius: 12px;
	border: none;
	font-weight: normal;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

