body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*______________________HEADER____________________*/

#header {
    background-color: #283747;
    max-width: 100%;
    height: 50px;
    position: relative;
}

#header #logo {
    color: white;
    font-size: 1.5em;
    line-height: 50px;
    margin: 0 0 0 6px;
}


#nav .menu-line {
    background-color: white;
    height: 2px;
    margin-top: 4px;
    border-radius: 25px;
}

#nav {
    width: 10%;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    outline: 0;
    
}

#nav #smaller {
    width: 70%;
}


/*_________________________Styling__dropdown_____________________  TODO fix size.. overlapps with main button*/

#dropdown-content {
    display: none; /* TODO transition when appears */
    background-color: #273746;
    position: absolute;
    width: 40vw;
    right: 0;
    z-index: 1;
    box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

.dropdownLink {
    width: 100%;
    color: white;
    display: block;
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid white;
    text-decoration: none;
    margin-top: 7px;
    margin-right: 7px;
    padding: 2px;
    outline: 0;    
}

#dropdown-content a:active {
    background-color: #1B2631;
}



/*______________________________----____________________*/



/* TODO INSERT MEDIA QUERRY FOR DESKTOP VERSION ON HEADER (HIDE NAV) */



/*______________________END OF HEADER____________________________*/



/*______________________________________MAIN_PAGE__________________________*/

#main {
    max-width: 100%;
    background-color: #85929E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-image: url("img/main.png");*/
    background-repeat: repeat;
}

#mainButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    border: 1px solid black;
    padding: 7px;
    background-color: darkred;
    color: white;
    border-radius: 100px;
    outline: 0;
}


#mainButton:active {
    filter: saturate(120%);
}

#info {
    display: inline-block;
    position:absolute;
    font-size: 0.78em;
    text-decoration: none;
    color: #283747;
    text-align: center;
    margin-top: 30vh;
    outline: 0;
    font-weight: bold;
    max-width: 20%;
}


#info:active {
    text-decoration: underline;
}

#logo:hover {
    cursor: default;
}


/*_____________________END_OF_MAIN_PAGE___________________________*/

/*_______________TESTING SECOND PAGE LAYOUT_____________*/

#deyteri {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
    height: 100vh;
}

#deyteri p {
    text-align: center;
    font-size: 2em;
    color: white;
}

/*_______________________*/